* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kaushan Script", cursive;
}

body {
  background-color: #f0cb9f;
  height: 100vh;
  width: 100%;
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.6rem;
  margin: 2rem auto;
  justify-content: center;
  perspective: 50rem;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.card {
  position: relative;
  height: 9rem;
  width: 7rem;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out;
  border-radius: inherit;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0deg);
}

.card.visible {
  pointer-events: none;
}

.card-front {
  background-color: black;
  transform: rotateY(180deg);
}

.card-front img {
  height: 50%;
  width: 50%;
}

.card.matched .card-front img {
  animation: grow-shrink 1s linear forwards;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(0.9);
  }
}

.overlay-text,
.end-game-modal {
  display: none;
}

.overlay-text.visible,
.end-game-modal.visible {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 2.5rem;
}

.overlay-text {
  cursor: pointer;
}

.end-game-modal.visible {
  flex-direction: column;
}

.replay-btn {
  border: 0.2rem solid #fff;
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  cursor: pointer;
  color: #fff;
  margin-top: 2rem;
  background-color: transparent;
  position: relative;
}

.replay-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: -0.2rem;
  height: 100%;
  width: 0%;
  background-color: #fff;
}

.replay-btn span {
  position: relative;
  z-index: 999;
}

.replay-btn:hover {
  color: #000;
}

.replay-btn:hover::before {
  width: 103%;
  transition: width 0.3s linear;
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
